/* 태그 선택자 */
div {
    background-color: beige;
}
body {
    background-color: whitesmoke;
}
p {
    color: blue;
}

/* 클래스 선택자 */
.redText {
    color: red;
}
.yellowText {
    color: green;
}
.bigSize {
    font-size: 50px;
}

/* id 선택자 */
#div1 {
    background-color:aqua;
    table-layout: auto;
}

/* border 선택자, p를 붙이면 p태그에만 적용된다*/
p.border {
    border-style: inset;
    border-width: 5px;
}
.border {
    border-style: dashed;
    border-width: 1px;
}